@model MVC_PROJECT_PVIEW.Models.EmployeeModel

<div>
    <h4>EmployeeModel</h4>
    <hr />
    <h5>Employee code : @Model.EmpCode</h5>
    <h5>First Name : @Model.FirstName</h5>
    <h5>Last Name : @Model.LastName</h5>
    <h5>Date of birth : @Model.DateOfBirth</h5>
    <h5>Years of Experience : @Model.YearsOfExperience</h5>
    <h5>Email : @Model.Email</h5>
    <h5>Phone number : @Model.PhoneNo</h5>

</div>
